<div class="row">
  <div class="large-12 large-centered columns">
    <h1>As the crow flies</h1>
    <p>Enter two locations below and choose your preffered unit of measurement to calculate the distance between the two.</p>
  </div>
  <div class="large-12 columns">
    <div id='location1'>
      <table>
        <thead>
          <tr>
            <th>First Location</th>
            <th>Second Location</th>
          </tr>
        </thead>
        <tr>
          <td><%= text_field_tag(:city1, "Enter a location") %></td>
          <td><%= text_field_tag(:city2, "Enter another location") %></td>
        </tr>
        <tr>
          <td><%= text_field_tag(:lat1, '', :readonly=>true) %></td>
          <td><%= text_field_tag(:lat2, '', :readonly=>true) %></td>
        </tr>
        <tr>
          <td><%= text_field_tag(:lon1, '', :readonly=>true) %></td>
          <td><%= text_field_tag(:lon2, '', :readonly=>true) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="large-12 columns">
    <ul>
      <li class="button tiny large-5 columns" onclick="calc(3958)">Find the distance in miles</li>
      <div class="large-2 columns"></div>
      <li class="button tiny large-5 columns" onclick="calc(6371)">Find the distance in kilometers</li>
    </ul>
    <%= text_field_tag(:distance, '', :readonly=>true) %>
  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
