<div class="row">
  <div class="large-12 large-centered columns">
    <h1>As the crow flies</h1>
  </div>
  <div class="large-12 columns">
    <div id='location1'>
      <table>
        <thead>
          <tr>
            <th>First Location</th>
            <th>Second Location</th>
          </tr>
        </thead>
        <tr>
          <td><%= text_area_tag(:city1, "Enter a location") %></td>
          <td><%= text_area_tag(:city2, "Enter another location") %></td>
        </tr>
        <tr>
          <td><%= text_area_tag(:lat1) %></td>
          <td><%= text_area_tag(:lat2) %></td>
        </tr>
        <tr>
          <td><%= text_area_tag(:lon1) %></td>
          <td><%= text_area_tag(:lon2) %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="large-12 columns">
    <%= text_area_tag(:distance) %>
  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
